body {
  background-color: #282e3a;
  color: white;
  padding: 30px 0;
  font-family: Arial;
  text-align: center;
}
.img-logo {
  width: 65px;
  height: 80px;
  margin: 0 20px;
}
.h2,
h2 {
  padding: 22px 22px;
  font-weight: 900;
  text-align: center;
}
.col-yellow {
  color: #fed102;
  font-weight: bold;
  font-size: larger;
}
.navbar-brand {
}
.navbar {
  padding: 0;
  background-color: aliceblue;
}
.container {
  width: 100%;
  max-width: 100%;
}
.row {
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  border-color: #424f5d00;
}
.tab-border {
  color: #fff;
  background-color: #151a20;
  border-radius: 12px;
}
.table-dark {
  color: #fff;
  background-color: #282e3a;
}
.container__container {
  max-width: 100%;
  overflow-x: auto;
}
@media screen and (max-width: 600px) {
  /* .navbar {
    width: 200%;
  } */
  .page__title {
    font-size: 14px;
  }
}
