.donate__loginPage__container {
  width: 100vw;
  min-height: calc(100vh - 60px);
  display: flex;
}

.donate__login__paper__container {
  width: 325px;
  max-width: 95%;
  margin: 20vh auto auto;
}
/* .donate__login__paper__container > div.image__conatiner {
  width: calc(100% + 40px);
} */
.donate__login__paper__container div.image__conatiner img {
  width: 100px;
  margin-bottom: 50px;
}

.donate__login__paper {
  padding: 20px;
  width: 100%;
}
.donate__login__form {
  display: grid;
}
.donate__login__el {
  margin-bottom: 15px !important;
}
.donate__login__form Button {
  margin: 10px 0;
}
